@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Montserrat:wght@800&family=Nabla&family=Poppins:wght@900&family=Shrikhand&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.content {
  margin-top:50px;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.apphHeader {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, #ff079c, #ff9430);
  font-family: 'Nabla', cursive;
  color: #ffffff;
  font-size: 70px;
  border-width: 5px;
  border-style: dashed;
  border-color: #f90095;
}

nav {
  position: fixed;
  top: 110px;;
  left: 0;
  width: 100%;
  
  background: linear-gradient(to bottom, #ffcf3e, #ff377d);
  font-family: 'Montserrat', sans-serif;

  opacity: .5; /* Initially hide the navigation */
  transition: opacity 0.5s ease; /* Add transition effect for smooth appearance */
}

nav:hover {
  opacity: 1; /* Show the navigation when hovering over it */
}

.nav-link {
  padding: 0 50px; 
  font-size: 30px;
  color: #ffef44;
}

label{
  font-size: 20px;
}

input{
  height: 40px;
  width: 250px;
  border-radius: 5%;
  margin: 20px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #ff377d;
}

.lyricPage {
  text-align: left;
}

.lyric {
  white-space: pre-line;
}

fieldset {
  color: white;
  border: 2px solid white;
  border-radius: 5%;
}